/* GENERAL */
body {
    font-family: "purista-web-n4","purista-web", Arial, Helvetica, sans-serif;
    margin-top: 50px;
}

p {
  font-size: .8rem;
}

li {
  font-size: .6rem;
  text-align: left:
}

a {
  text-decoration: none;
  color: #45A1DD;
}
.map_menu {
  /*width: 600px;*/
  text-align: center;
}

/* MENU BAR */

button {
  background: #F4F4F4;
  padding: 8px 20px;
  border: 1px solid #ccc;
  margin-right: -5px;
  font-size: 15px;
}

button:focus {
  outline: none;
}

button.selected {
  background: white;
  padding-top: 10px;
  border-bottom: none;
}

/* MAP */

.map_area {
  margin: 0 auto;

  width: 800px;
  padding: 20px;
  border: 1px solid #fff;
}

.map_area  h3 {
  text-align: center;
}

.map_area path {
  stroke-width:1;
  stroke:#fff;
}

#mortality, #marriage {
  display: none;
}

.map_area {
  position: relative;
}

/* MAP MARKER AND INFO WINDOW */

.marker .info h3 {
  text-align: left;
}


.nepal.marker img {
  position: absolute;
  top: 350px;  /* chartArea top  */
  left: 590px; /* chartArea left */
  width: 20px;
}

.nepal.marker .info {
  display: none;
  position: absolute;
  top: 145px;  /* chartArea top  */
  left: 295px; /* chartArea left */
  width: 250px;
  background-color: white;
  border: 1px solid #F4F4F4;
  padding: 0 10px 20px 25px;
  border-radius: 2%;
}

.nepal.marker:hover .info {
  display: inline-block;
}

.uganda.marker img {
  position: absolute;
  top: 410px;  /* chartArea top  */
  left: 480px; /* chartArea left */
  width: 20px;
}

.uganda.marker .info {
  display: none;
  position: absolute;
  top: 205px;  /* chartArea top  */
  left: 185px; /* chartArea left */
  width: 250px;
  background-color: white;
  border: 1px solid #F4F4F4;
  padding: 0 10px 20px 25px;
  border-radius: 2%;
}

.uganda.marker:hover .info {
  display: inline-block;
}


.elsalvador.marker img {
  position: absolute;
  top: 382px;  /* chartArea top  */
  left: 220px; /* chartArea left */
  width: 20px;
}


.elsalvador.marker .info {
  display: none;
  position: absolute;
  top: 190px;  /* chartArea top  */
  left: 185px; /* chartArea left */
  width: 250px;
  background-color: white;
  border: 1px solid #F4F4F4;
  padding: 0 10px 20px 25px;
  border-radius: 2%;
}
